body {
	background-color: orange
}

h1 {
	color: black;
	text-align: center;
	font-size: 50px
}

body {
	background-image: url("../Image/conan_handstand.png");
	background-size: 300px 500px;
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: fixed
}

#p01 {
	border: 15px solid;
	border-color: #90F0EB blue green #dd22ff;
	padding-left: 8%;
	padding-top: 2%;
	padding-right: 8%px;
	margin-top: 10%;
	margin-bottom: 10%;
	margin-right: 20%;
	margin-left: 20%;
	font-size: 20px;
	font: verdana;
	color: brown;
}

#image1 {
	margin-top: 10%;
	margin-bottom: 10%;
	margin-right: 20%;
	margin-left: 20%
}

ul#menu {
	padding: 0
	text-align:center;
}

ul#menu li {
	display: inline
}

ul#menu li a {
	background-color: black;
	color: white;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 4px 4px 0 0
}

ul#menu li a:hover {
	background-color: orange
}

table,
th,
td {
	border: 5px solid black;
	border-collapse: collapse;
}

table#t01 tr:nth-child(even) {
	background-color: #hhh;
}

table#t01 tr:nth-child(odd) {
	background-color: #C2FF68;
}

table#t01 th {
	background-color: black;
	color: white;
}

caption.Names {
	color: purple;
	font-size: 50px;
}